<h1>Stupid Coaching</h1>
<div class="container">
  <div class="you">
    <%= params[:question] %>
    <p>-You</p>
  </div>
  <br>
  <div class="coach">
    <%= @coach_answer %>
    <p>-Your Coach</p>
  </div>
  <br>
  <%= link_to 'Ask a new question', 'ask' %>
</div>